*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x:hidden;
}

body{
    background-color:#0B0A20 ;
}

#pasta-menu{
    background-color: #0B0A20;
    background-attachment: fixed;
}

#pasta-menu2{
    background-color: #0B0A20;
    background-attachment: fixed;
    padding-bottom: 30px;
}

@font-face {
    font-family: newFont;
    src:url(Bebas-Regular.otf);
}

@font-face {
    font-family: name;
    src:url(FrederickatheGreat-Regular.ttf);
}

.navbar{
    background-color: #0B0A20;
    color:#fff;
}

.navbar-nav a{
    color:#F07A6A;
    margin-right:30px;
    font-size: 20px;
    font-family: newFont;
}

.navbar-nav a:hover{
    color:#fff;
}

.navbar-nav i{
    margin-left:10px;
}

.highlight{
    background-image: linear-gradient(to top, #060c44 0%, #1a0533 100%);
    border-radius: 6px;
}

.navbar-brand{
    color:#fff;
    font-size: 30px;
}

.navbar-brand:hover{
    color:#F07A6A;
}

.navbar-toggler-icon{
    background-color:#fff;
}


.card-body{
    background-color: rgb(5, 5, 48);
    color:#fff;
    border-radius: 5px;
}

#pasta1,#pasta2{
    width:145%;
    height:auto;
    padding:0px;
    margin-top:-70px;
}

#pasta3{
    width:165%;
    height:auto;
    padding:0px;
    margin-top:-70px;
}

#pasta4{
    width:125%;
    height:auto;
    padding:0px;
    margin-top:-70px;
}

#pasta5{
    width:155%;
    height:auto;
    padding:0px;
    margin-top:-70px;
}

#pasta6{
    width:160%;
    height:auto;
    padding:0px;
    margin-top:-70px;
}

.card{
   background-color:rgb(5, 5, 48) ;
  
}

.container{
    margin-left:100px;
}

.all{
    justify-content: center;
     margin-top:40px;
    
 }

 .head{
    font-size: 80px;
    color: #fff;
    font-family: name;
    text-align: center;
}

.add{
    font-size: 40px;
    font-family: newFont;
    color:#F07A6A;
}

input{
    width:40px;
    text-align: center;
    border-radius: 4px;
}

.input{
    font-family:newFont;
    margin-bottom:7px;
    color:#F07A6A
}

.input button{
    background-color:#F07A6A ;
    color:white;
    margin-top:30px;
    width: 200px;
}

footer{
      
    background-color: rgb(6, 6, 49);
    color: #fff;
    padding:40px;
    text-align:center;
}

.size{
    font-family: newFont;
    color:#fff;
    display: flex;
    justify-content: space-around;
    padding:30px;
    font-size: 25px;
}

.size div{
    background-color: #060c44;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.size div:hover{
    color:#F07A6A;
    cursor: pointer;
}  

 